/* 
    Document   : configuracoes.css
    Created on : 25/09/2013, 10:19:55
    Author     : Morbach
    Description:
        Purpose of the stylesheet follows.
*/

#divEditarSenha { 
    display: none;
}

