.highcharts-axis-labels{font-size: 9px !important;}
.blocoPesquisa{margin-left:auto}
.icon-chart{width:32px;height:32px;padding-left:15px;cursor:pointer}
.chart-line{background:url(/images/icos/chart-line.png)}
.chart-column{background:url(/images/icos/chart-column.png)}
.text-icon{background:url(/images/icos/text-icon.png)}
.options-chart{width:95px;margin-right:0}
.vazio{font-size:40px;margin:auto}